/* собственные стили  */
@import "../css/fonts.css";



body {
    font-family: 'Poppins-SemiBold';
    background-color: #121829;
}



.container-line-1 {
    margin-bottom: 16px;
}


/*карточка фильма*/
.card-film {
    width: 282px;
    height: 520px;
    border-radius: 12px;
    background-color: #20283E;
    position: relative;
    margin-bottom: 15px;
}

.card-text-fraim {
    display: flex;
    justify-content: space-between;
    color: #7B6EF6;
    align-items: center;
    width: 110px;
}

.card-viewed-movie {
    display: flex;
    justify-content: space-between;
    color: #37D8A7;
    align-items: center;
    width: 140px;
}

.card-text {
    margin: 16px;
}

.card-text-film {
    margin-bottom: 16px;
    color: #EBEEF5;
}

.card-link {
    text-decoration: none;
}




/*рейтинг фильма*/
.card-rating {
    display: flex;
    background-color: #000000cc;
    color: #FFAD49;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    top: 16px;
    left: 16px;
    flex-direction: row;
}

.rating {
    margin-left: 8px;
    font-size: 16px;
}




/*картинка фильма*/
.card-img {
    margin-bottom: 16px;
}

.img {
    width: 266px;
    height: 400px;
    margin: 8px;
    border-radius: 8px;
}




/*кнопка в конце страницы*/
.container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-button {
    margin-top: 90px;
    cursor: pointer;
}

.button {
    color: #ffffff;
    background: #7B6EF6;
    height: 56px;
    width: 189px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.button-link {
    text-decoration: none;
    color: #767E94;
}

